# [eclipse]
.project
.settings
.classpath
.factorypath
.externalToolBuilders

# [draft]
/docs
/java

# [vscode]
.vscode


# [idea]
.idea


# [maven]
target


# [gradle]
.gradle
build
bin

# [application]

# [project]
gpki

# [sonarqube]
.scannerwork
.sonarlint

# [draw.io]
.$*.bkp
*.drawio
